<md-toolbar>

  <!-- Menu when logged in -->
  <div class="md-toolbar-tools container" ng-if="vm.authenticated">

    <!-- Left menu for laptop devices -->
    <span hide-xs>
      <md-button class="md-icon-button" ui-sref="dashboard">
        <md-icon>home</md-icon>
      </md-button>
      <md-button ui-sref="campaigns.index">{{'components.main_menu.items.play' | translate}}</md-button>
      <md-button ui-sref="campaigns.search">{{'components.main_menu.items.search' | translate}}</md-button>
    </span>

    <!-- Left menu for mobile devices -->
    <md-menu hide-gt-xs>
      <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
        <md-icon md-menu-origin>menu</md-icon>
      </md-button>
      <md-menu-content>
        <md-menu-item>
          <md-button ui-sref="dashboard">{{'components.main_menu.items.home' | translate}}</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ui-sref="campaigns.index">{{'components.main_menu.items.play' | translate}}</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ui-sref="campaigns.search">{{'components.main_menu.items.search' | translate}}</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>


    <!-- left and right menus separator -->
    <span flex></span>

    <span>
      <md-menu>
        <md-button ng-click="$mdMenu.open($event)" class="md-icon-button requests-count-wrapper">
          <md-icon ng-if="vm.invitations.length" md-colors="{color: 'red'}">person</md-icon>
          <md-icon ng-if="!vm.invitations.length">person_outline</md-icon>
          <div class="requests-count" md-colors="{background: 'red'}" ng-if="vm.invitations.length">{{vm.invitations.length}}</div>
        </md-button>
        <md-menu-content>
          <div md-colors="{color: 'grey-500'}" ng-if="!vm.invitations.length" class="md-padding md-caption">
            {{'components.main_menu.no_invitations' | translate}}
          </div>
          <md-list flex ng-if="vm.invitations.length">
            <md-list-item class="md-2-line" ng-repeat="invitation in vm.invitations">
              <div ng-if="invitation.status === 'request'" class="md-list-item-text">
                <h3>{{'components.main_menu.requests.title' | translate}}</h3>
                <h4>{{'components.main_menu.requests.text' | translate:invitation}}</h4>
                <p>{{invitation.campaign.title}}</p>
              </div>
              <div ng-if="invitation.status === 'pending'" class="md-list-item-text">
                <h3>{{'components.main_menu.invitations.title' | translate}}</h3>
                <h4>{{'components.main_menu.invitations.text' | translate:invitation}}</h4>
                <p>{{invitation.campaign.title}}</p>
              </div>
              <md-button class="md-secondary md-icon-button" ng-click="vm.accept(invitation)">
                <md-icon>check</md-icon>
              </md-button>
              <md-button class="md-secondary md-icon-button" ng-click="vm.refuse(invitation)">
                <md-icon>close</md-icon>
              </md-button>
            </md-list-item>
          </md-list>
        </md-menu-content>
      </md-menu>
      <md-menu>
        <md-button ng-click="$mdMenu.open($event)">{{'components.main_menu.items.profile' | translate}}</md-button>
        <md-menu-content class="no-padding-top">
          <md-subheader class="md-no-sticky" md-colors="{background: 'grey-400', color: 'grey-50'}">{{vm.username}}</md-subheader>
          <md-menu-item>
            <md-button ui-sref="adminDashboard">{{'components.main_menu.items.admin' | translate}}</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref="profile">{{'components.main_menu.items.profile_edit' | translate}}</md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="vm.logout()">{{'components.main_menu.items.logout' | translate}}</md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </span>
  </div>

  <!-- Menu when not logged in -->
  <div class="md-toolbar-tools container" ng-if="!vm.authenticated">
    <!-- Offline menu on mobile devices -->
    <md-menu hide-gt-xs>
      <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
        <md-icon md-menu-origin>menu</md-icon>
      </md-button>
      <md-menu-content>
        <md-menu-item>
          <md-button ui-sref="dashboard">{{'components.main_menu.items.home' | translate}}</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ui-sref="sessionsCreate">{{'components.main_menu.items.login' | translate}}</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ui-sref="accountsCreate">{{'components.main_menu.items.register' | translate}}</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

    <!-- On the left on desktop, it's the "home page" button -->
    <span hide-xs>
      <md-button class="md-icon-button" ui-sref="dashboard">
        <md-icon>home</md-icon>
      </md-button>
    </span>

    <!-- This separator puts the desktop menu on the right -->
    <span flex></span>

    <!-- Desktop offline menu -->
    <span hide-xs>
      <md-button ui-sref="sessionsCreate">{{'components.main_menu.items.login' | translate}}</md-button>
      <md-button ui-sref="accountsCreate">{{'components.main_menu.items.register' | translate}}</md-button>
    </span>
  </div>
</md-toolbar>