<html ng-app="arkaan.frontend">
  <head>
    <link rel="stylesheet" type="text/css" href="/dist/style.css" />
    <link rel="stylesheet" type="text/css" href="/node_modules/angular-material/angular-material.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="/lib/font-awesome/css/font-awesome.min.css" />

    <%= csrf_tag %>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/dist/app.js"></script>
  </head>
  <body>
    <div ui-view></div>
  </body>
</html>