<html ng-app="arkaan.frontend">
  <head>
    <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/dist/style.css" />

    <script type="text/javascript" src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="/node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="/node_modules/ngstorage/ngStorage.min.js"></script>
    <script type="text/javascript" src="/node_modules/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/dist/app.js"></script>

    <%= csrf_tag %>
  </head>
  <body>
    <main-menu></main-menu>
    <div ui-view="main"></div>
  </body>
</html>