<app-menu></app-menu>
<md-content layout="row">
  <div flex-gt-xs="25" hide-xs></div>
  <div flex-gt-xs="50" flex-xs="100">
    <h1 class="main-title md-display-1" translate>accounts.create.titles.main</h1>
    <form ng-submit="vm.createAccount()" name="vm.accountCreationForm">
      <md-content class="md-padding">
        <md-input-container class="md-block">
          <label for="usernameInput" translate>accounts.create.labels.username</label>
          <input step="any" type="text" id="usernameInput" name="username" class="md-input" ng-model="vm.account.username" required autocomplete="off" minlength="6" />
          <div ng-messages="vm.accountCreationForm.username.$error">
            <div ng-message="required" translate>accounts.create.errors.username.blank</div>
            <div ng-message="minlength" translate>accounts.create.errors.username.minlength</div>
            <div ng-message="uniq" translate>accounts.create.errors.username.uniq</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label for="passwordInput" translate>accounts.create.labels.password</label>
          <input type="password" id="passwordInput" name="password" class="md-input" ng-model="vm.account.password" required autocomplete="off" />
          <div ng-messages="vm.accountCreationForm.password.$error">
            <div ng-message="required" translate>accounts.create.errors.password.blank</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label for="passwordConfirmInput" translate>accounts.create.labels.password_confirmation</label>
          <input type="password" id="passwordConfirmInput" name="password_confirmation" class="md-input" ng-model="vm.account.password_confirmation" required autocomplete="off" ng-keyup="vm.onConfirmationChange()" />
          <div ng-messages="vm.accountCreationForm.password_confirmation.$error">
            <div ng-message="required" translate>accounts.create.errors.password_confirmation.blank</div>
            <div ng-message="confirmation" translate>accounts.create.errors.password_confirmation.confirmation</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label for="emailInput" translate>accounts.create.labels.email</label>
          <input type="text" id="emailInput" name="email" class="form-control" ng-model="vm.account.email" required autocomplete="off" ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/" />
          <div ng-messages="vm.accountCreationForm.email.$error">
            <div ng-message="required" translate>accounts.create.errors.email.blank</div>
            <div ng-message="pattern" translate>accounts.create.errors.email.pattern</div>
            <div ng-message="uniq" translate>accounts.create.errors.email.uniq</div>
          </div>
        </md-input-container>
      </md-content>
      <md-content class="md-padding">
        <input type="submit" translate translate-attr-value="accounts.create.buttons.submit" class="md-button md-raised" />
      </md-content>
    </form>
  </div>
  <div flex-gt-xs="25" hide-xs></div>
</md-content>