<div layout="row" layout-align="center center" md-colors="{background: 'grey-800'}">
  <div flex-gt-md="20" show-gt-md></div>
  <div flex-gt-md="60" flex-xs flex-md class="owl-carousel owl-theme dashboard-carousel">
    <div class="item">
      <img src="/client/assets/dashboard/play.jpg" />
      <div class="carousel-text-wrapper md-padding" md-colors="{background: 'grey-800'}">
        <h1 translate>campaigns.dashboard.play.title</h1>
        <div hide-xs hide-sm class="md-padding">{{'campaigns.dashboard.play.description' | translate}}</div>
        <md-button ui-sref="campaigns.index">{{'campaigns.dashboard.play.button' | translate}}</md-button>
      </div>
    </div>
    <div class="item">
      <img src="/client/assets/dashboard/create.jpg" />
      <div class="carousel-text-wrapper md-padding" md-colors="{background: 'grey-800'}">
        <h1 translate>campaigns.dashboard.create.title</h1>
        <div hide-xs hide-sm class="md-padding">
          <span>{{'campaigns.dashboard.create.description' | translate}}</span><br />
          <span>{{'campaigns.dashboard.create.coming' | translate}}</span>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/client/assets/dashboard/gather.jpg" />
      <div class="carousel-text-wrapper md-padding" md-colors="{background: 'grey-800'}">
        <h1 translate>campaigns.dashboard.gather.title</h1>
        <div hide-xs hide-sm class="md-padding">{{'campaigns.dashboard.gather.description' | translate}}</div>
        <md-button ui-sref="campaigns.search">{{'campaigns.dashboard.gather.button' | translate}}</md-button>
      </div>
    </div>
  </div>
  <div flex-gt-md="20" show-gt-lg></div>
</div>