client/package-lock.json
client/node_modules/*
!client/node_modules/@uirouter
!client/node_modules/angular
!client/node_modules/bootstrap
!client/node_modules/jquery
!client/node_modules/ngstorage
!client/node_modules/popper.js
!client/node_modules/angular-translate
!client/node_modules/angular-translate-loader-partial
.env