<h1 translate>Liste des services</h1>

<table ng-if="vm.servicesList.services.length > 0" class="table">
  <thead>
    <tr>
      <th>Clé</th>
      <th>Chemin</th>
      <th>Nombre de routes</th>
      <th>Nombre d'instances</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="service in vm.servicesList.services">
      <td>{{service.key}}</td>
      <td>{{service.path}}</td>
      <td>{{service.routes.length}}</td>
      <td>{{service.instances.length}}</td>
      <td>
        <div class="text-success" ng-if="service.active">Oui</div>
        <div class="text-danger" ng-if="!service.active">Non</div>
      </td>
      <td>
        <a
          ui-sref="services.edit({id: service.id})"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Accéder au service"
          class="text-dark"
        >
          <i class="fa fa-pencil"></i>
        </a>
        &nbsp;
        <a
          ng-click="vm.servicesList.toggleActiveState(service)"
          ng-class="{'text-success': !service.active, 'text-danger': service.active}"
          ng-if="service.key != 'services'"
          data-toggle="tooltip"
          data-placement="bottom"
          title="{{service.active ? 'Deactivate' : 'Activate'}}"
        >
          <i class="fa fa-toggle-off"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>