<h1 translate>services.list.title</h1>

<div>
  <md-button ng-disabled="!vm.hasServiceSelected()" ng-click="vm.restartSelected()">Redémarrer</md-button>
</div>

<table ng-if="vm.servicesList.services.length > 0" class="table">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th translate>services.list.headers.key</th>
      <th translate>services.list.headers.path</th>
      <th translate>services.list.headers.routes</th>
      <th translate>services.list.headers.instances</th>
      <th translate>common.active.f</th>
      <th translate>common.actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="service in vm.servicesList.services | orderBy: 'key'">
      <td>
        <md-checkbox class="without-margin" ng-model="service.selected" ng-if="service.key != 'services'"></md-checkbox>
      </td>
      <td>{{service.key}}</td>
      <td><pre class="without-margin">{{service.path}}</pre></td>
      <td>{{service.routes.length}}</td>
      <td>{{service.instances.length}}</td>
      <td>
        <div class="text-success" ng-if="service.active" translate>common.yes</div>
        <div class="text-danger" ng-if="!service.active" translate>common.no</div>
      </td>
      <td>
        <a
          ui-sref="services.edit({id: service.id})"
          data-toggle="tooltip"
          data-placement="bottom"
          title="{{'services.tooltips.access' | translate}}"
          class="text-dark"
        >
          <i class="fa fa-pencil"></i>
        </a>
        &nbsp;
        <a
          ng-click="vm.servicesList.toggleActiveState(service)"
          ng-class="{'text-success': !service.active, 'text-danger': service.active}"
          ng-if="service.key != 'services'"
          data-toggle="tooltip"
          data-placement="bottom"
          title="{{'services.tooltips.' + (service.active ? 'deactivate' : 'activate') | translate}}"
        >
          <i class="fa fa-toggle-off"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>