<div flex="grow" layout="column" layout-align="start stretch" class="md-padding scrollable">
  <md-list>
    <md-subheader class="md-no-sticky">Liste des fichiers</md-subheader>
    <md-list-item ng-repeat="file in vm.campaign.files" class="md-3-line" ng-click="vm.selectFile(file)">
      <div class="md-list-item-text" layout="column">
        <h3>{{file.name}}</h3>
        <h4>{{file.size}} bytes</h4>
        <p>{{file.type}}</p>
      </div>
      <md-button class="md-secondary md-icon-button" ng-click="vm.deleteFile(file)">
        <md-icon>delete</md-icon>
      </md-button>
    </md-list-item>
  </md-list>
</div>
<div flex="noshrink" class="md-padding">
  <upload-button campaign="vm.campaign"></upload-button>
</div>