<div class="uploader-wrapper">
  <input type="file" name="{{vm.inputName}}" class="hidden" ng-init="vm.initializedInput()" accept="{{vm.acceptedTypes}}" />
  <div class="fake-uploader-wrapper" layout="row">
    <md-button flex="none" ng-click="vm.triggerUpload()" ng-disabled="vm.disabled">Parcourir</md-button>
    <div flex class="uploader-filename-wrapper">
      <span ng-if="vm.uploadObject[vm.uploadKey].name === undefined" md-truncate>Pas de fichier sélectionné</span>
      <span ng-if="vm.uploadObject[vm.uploadKey].name !== undefined" md-truncate>{{vm.uploadObject[vm.uploadKey].name}}</span>
    </div>
  </div>
  <div class="mime-type-errorm md-padding" md-colors="{color: 'red-A100'}">
    <div ng-if="!vm.validities.type">
      Le type du fichier est incorrect. Les types de fichiers supportés sont :
      <ul>
        <li>Tous fichiers images (PNG, BMP, JPG, etc.)</li>
        <li>Les fichiers de texte brut avec une extension .txt</li>
      </ul>
    </div>
    <div ng-if="!vm.validities.size">
      Seuls les fichiers de moins de 20Mo sont acceptés.
    </div>
  </div>
</div>