<md-content layout="row">
  <div flex-gt-xs="25" hide-xs></div>
  <div flex-gt-xs="50" flex-xs="100">
    <div layout="row" layout-sm="column" layout-align="space-around" class="md-padding" ng-if="!vm.initialized && !vm.unauthorized">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div ng-if="vm.unauthorized">{{'campaigns.update.unauthorized' | translate}}</div>
    <md-tabs md-dynamic-height ng-if="vm.initialized && !vm.unauthorized">
      <!-- First tab containg the informations about the campaign (title, description, etc.) -->
      <md-tab>
        <md-tab-label>{{'campaigns.update.tabs.informations.title' | translate}}</md-tab-label>
        <md-tab-body>
          <form ng-submit="vm.update()" name="vm.campaignEditionForm">
            <h1 translate class="main-title md-display-1">{{'campaigns.update.tabs.informations.subtitles.infos' | translate}}</h1>
            <md-content class="md-padding">
              <md-input-container class="md-block">
                <label for="campaignTitle">{{'campaigns.update.tabs.informations.labels.title' | translate}}</label>
                <input type="text" class="md-input" name="title" ng-model="vm.campaign.title" id="campaignName" required minlength="4" />
                <div ng-messages="vm.campaignEditionForm.title.$error" multiple>
                  <div ng-message="required" translate>campaigns.errors.title.blank</div>
                  <div ng-message="uniq" translate>campaigns.errors.title.uniq</div>
                  <div ng-message="minlength" translate>campaigns.errors.title.short</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block">
                <label for="campaignDescription">{{'campaigns.update.tabs.informations.labels.description' | translate}}</label>
                <textarea class="campaign-description" ng-model="vm.campaign.description"></textarea>
              </md-input-container>
              <md-checkbox class="campaign-checkbox" ng-true-value="false" ng-false-value="true" ng-model="vm.campaign.is_private" name="is_private">
                {{'campaigns.create.labels.make_public' | translate}}
              </md-checkbox>
            </md-content>
            <h1 translate class="main-title md-display-1">{{'campaigns.update.tabs.informations.subtitles.tags' | translate}}</h1>
            <md-content class="md-padding">
              <md-chips
                ng-model="vm.campaign.tags"
                name="campaignTags"
                placeholder="Enter tags and press enter"
                secondary-placeholder="+ Tag"
                md-add-on-blur="true"
                md-enable-chip-edit="true"
              >
              </md-chips>
            </md-content>
            <md-content class="md-padding">
              <input type="submit" class="md-button md-raised" value="{{'common.update' | translate}}" />
            </md-content>
          </form>
        </md-tab-body>
      </md-tab>
      <!-- Second tab containing the players, and the field to invite new players. -->
      <md-tab>
        <md-tab-label>{{'campaigns.update.tabs.players.title' | translate}}</md-tab-label>
        <md-tab-body>
          <md-content layout="row" class="wrap">
            <form flex class="md-padding without-margin" ng-submit="vm.addPlayer()" name="vm.invitationForm" ng-if="vm.currentUsername == vm.campaign.creator.username">
              <md-input-container class="md-block">
                <label for="username" translate>campaigns.invitations.labels.username</label>
                <input type="text" name="username" ng-model="vm.account" required />
                <div class="hint" ng-if="vm.invitationForm.username.$valid || vm.invitationForm.username.$untouched" translate>campaigns.invitations.hints.username</div>
                <div ng-messages="vm.invitationForm.username.$error" ng-if="vm.invitationForm.username.$touched">
                  <div ng-message="already_pending" translate>campaigns.invitations.errors.pending</div>
                  <div ng-message="already_accepted" translate>campaigns.invitations.errors.accepted</div>
                  <div ng-message="unknown" translate>campaigns.invitations.errors.not_found</div>
                  <div ng-message="required" translate>campaigns.invitations.errors.blank</div>
                </div>
              </md-input-container>
            </form>
          </md-content>
          <md-content layout-gt-xs="row">
            <div flex-gt-xs="50" ng-class="{'md-padding': true, 'hide-xs': vm.pendings().length == 0}">
              <h2 class="md-headline" translate>campaigns.invitations.titles.pending</h2>
              <div ng-if="vm.pendings().length == 0" translate>campaigns.invitations.placeholders.pending</div>
              <invitations collection="vm.invitations" status="pending" icons="true"></invitations>
            </div>
            <div flex-gt-xs="50" class="md-padding">
              <h2 class="md-headline" translate>campaigns.invitations.titles.accepted</h2>
              <div ng-if="vm.invitations.accepted.length == 0" translate>campaigns.invitations.placeholders.accepted</div>
              <invitations collection="vm.invitations" status="accepted"></invitations>
            </div>
          </md-content>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </div>
  <div flex-gt-xs="25" hide-xs></div>
</md-content>