<div class="md-chatroom-header" flex="nogrow" layout="row" layout-align="end center" md-colors="{'background': 'grey-200'}">
  <a ng-click="vm.displayHelp($event)">
    <md-tooltip md-direction="left" hide-xs>{{'common.help' | translate}}</md-tooltip>
    <md-icon>help</md-icon>
  </a>
  <span flex></span>
  <a ng-click="vm.closePanel()" flex="none">
    <md-tooltip md-direction="left" hide-xs>{{'common.close' | translate}}</md-tooltip>
    <md-icon>clear</md-icon>
  </a>
</div>

<div flex layout="column">
  <md-content flex="grow" class="md-padding scrollable" id="chatroom-scroller" ng-switch on="vm.campaign.messages.state" layout="column">
    <div ng-switch-when="loading" flex layout="column" layout-align="center center">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div ng-switch-when="error" flex layout="column" layout-align="center center" class="text-centered">
      <div class="md-padding">{{'campaigns.play.errors.chatroom' | translate}}</div>
      <div><md-button ng-click="vm.campaign.messages.reload(vm.campaign.id)">{{'common.retry' | translate}}</md-button></div>
    </div>
    <div ng-switch-when="empty"layout="column" layout-align="end center" class="panel-placeholder-wrapper">
      <div><md-icon class="md-big-icon" md-colors="{color: 'grey-300'}">message</md-icon></div>
      <p class="md-title" md-colors="{color: 'grey-400'}">{{'campaigns.play.placeholders.messages' | translate}}</p>
    </div>
    <div ng-switch-when="loaded">

      <div ng-repeat="(creation_date, messages) in vm.campaign.messages.grouped">
        <md-subheader class="md-no-sticky">{{creation_date | date:'dd/MM/yyyy'}}</md-subheader>
        <div ng-repeat="message in messages track by $index" class="message-wrapper" ng-switch on="message.state">

          <!-- When the message is currently being sent to the API -->
          <div ng-switch-when="sending">
            <div class="message-container self" md-colors="{'background': 'blue-200', 'color': 'grey-50'}">
              <div >{{message.data.content}}</div>
            </div>
            <div class="md-caption clear loading self message-subheader">{{'campaigns.messages.labels.sending' |translate}}</div>
          </div>

          <!-- When messages have been successfully sent -->
          <div ng-switch-when="sent" ng-switch on="message.type">
            <div ng-switch-when="command">
              <ng-include src="vm.getCommandTemplate(message)" flex layout="column" layout-align="start stretch"></ng-include>
            </div>
            <div ng-switch-when="text">
              <div ng-if="message.username === vm.username" class="message-container self" md-colors="{'background': 'blue-600', 'color': 'grey-50'}">
                <div >{{message.data.content}}</div>
              </div>

              <div ng-if="message.username !== vm.username" class="message-container other" md-colors="{'background': 'grey-200'}">
                <div >{{message.data.content}}</div>
              </div>

              <div class="md-caption clear" ng-class="{'text-right': message.username === vm.username}">
                <span ng-if="vm.username !== message.username">{{message.username}}&nbsp;</span>
                <span>{{message.created_at | date:'HH:mm'}}</span>
              </div>
            </div>
          </div>

          <!-- When the sending of the message has failed and the message is in error -->
          <div ng-switch-when="error">
            <div class="message-container self" md-colors="{'background': 'blue-200', 'color': 'grey-50'}">
              <div >{{message.data.content}}</div>
            </div>
            <div class="message-subheader self" layout="row">
              <span class="alert-icon">
                <md-tooltip md-direction="top">{{'campaigns.play.tooltips.chat_error' | translate}}</md-tooltip>
                <md-icon md-colors="{color: 'red-300'}">warning</md-icon>
              </span>
              <a ng-click="message.send()" flex class="resend-message-link">{{'common.resend' | translate}}</a>
              <span class="md-caption">{{message.created_at | date:'HH:mm'}}</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </md-content>
  <form name="vm.sendMessageForm" ng-submit="vm.campaign.messages.send(vm.message)" class="md-chatroom-form without-margin" flex="noshrink">
    <md-input-container class="md-block without-margin">
      <label for="message" translate>campaigns.play.labels.messages.message</label>
      <input type="text" id="message" name="message" ng-model="vm.message" autocomplete="off" />
      <div ng-messages="vm.sendMessageForm.message.$error">
        <div ng-message="content" translate>campaigns.messages.errors.content</div>
        <div ng-message="command" translate>campaigns.messages.errors.command</div>
      </div>
    </md-input-container>
  </form>
</div>