<md-dialog class="campaigns-edit-modal">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 translate>campaigns.create.title</h2>
    </div>
  </md-toolbar>
  <form ng-submit="validate()" class="no-margin-bottom" name="vm.campaignCreationForm">
    <md-dialog-content>
      <md-content class="md-padding">
        <!-- Input for the title of the campaign. -->
        <md-input-container class="md-block md-title-container">
          <label for="campaignName" translate>campaigns.create.labels.title</label>
          <input type="text" class="md-input" ng-model="campaign.title" id="campaignName" required minlength="4" />
          <div ng-messages="vm.campaignCreationForm.title.$error" multiple>
            <div ng-message="required" translate>campaigns.create.errors.title.blank</div>
            <div ng-message="uniq" translate>campaigns.create.errors.title.uniq</div>
            <div ng-message="minlength" translate>campaigns.create.errors.title.short</div>
          </div>
        </md-input-container>
        <!-- Tags to assign to the campaign to describe its content -->
        <md-chips
          ng-model="campaign.tags"
          name="campaignTags"
          placeholder="Enter tags and press enter"
          secondary-placeholder="+ Tag"
          md-add-on-blur="true"
          md-enable-chip-edit="true"
        >
        </md-chips>
        <!-- Switch to make the campaign private (TRUE) or public (FALSE) -->
        <md-switch ng-model="campaign.isPrivate">
          <span ng-if="campaign.isPrivate">{{'common.private.f' | translate}}</span>
          <span ng-if="!campaign.isPrivate">{{'common.public.f' | translate}}</span>
        </md-switch>
        <md-input-container class="md-block no-margin-bottom">
          <label translate>campaigns.create.labels.description</label>
          <textarea class="campaign-description" ng-model="campaign.description"></textarea>
        </md-input-container>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <input type="submit" value="{{'common.validate' | translate}}" class="md-button" />
      <md-button ng-click="close()">{{'common.cancel' | translate}}</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>