<div class="message-container command" md-colors="{'background': 'green-200'}" ng-init="detailed = false">
  <div layout="row">
    <div flex="grow" class="md-body-2 md-chatroom-username">{{message.username}}</div>
    <div flex="none" class="md-caption message-creation-date">{{message.created_at | date:'HH:mm'}}</div>
  </div>
  <div>
    <div layout="row" layout-align="center stretch">
      <div flex>Résultat : <span class="md-body-2">{{vm.getTotal(message)}}</span></div>
      <div flex="none">
        <a ng-click="detailed = !detailed">
          <md-icon ng-if="!detailed">keyboard_arrow_down</md-icon>
          <md-icon ng-if="detailed">keyboard_arrow_up</md-icon>
        </a>
      </div>
    </div>
    <div class="details" ng-show="detailed">
      <div
        ng-repeat="roll in message.data.rolls track by $index"
        ng-init="max = roll.number_of_faces"
      >
        <md-divider class="details-divider"></md-divider>
        <div class="roll-title md-caption">
          Lancer de {{roll.number_of_dices}} dés à {{roll.number_of_faces}} faces
        </div>
        <div ng-repeat="result in roll.results" class="dice result" md-colors="{'border-color': 'green-300'}">
          <span ng-if="result == max" md-colors="{'color': 'green-400'}" class="critical" ng-bind="result"></span>
          <span ng-if="result == 1" md-colors="{'color': 'red-400'}" class="critical" ng-bind="result"></span>
          <span ng-if="result > 1 && result < max" ng-bind="result"></span>
        </div>
      </div>
      <div ng-if="message.data.modifier > 0">
        <md-divider class="details-divider"></md-divider>
        <div class="roll-title md-caption">Somme des modificateurs</div>
        <span class="dice modifier" md-colors="{'border-color': 'green-300'}">{{message.data.modifier}}</span>
      </div>
    </div>
  </div>
</div>