<md-dialog class="file-upload-modal">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 translate>Ajouter un fichier</h2>
    </div>
  </md-toolbar>
  <form ng-submit="validate()">
    <md-dialog-content class="md-padding">
      <uploader input-name="content" upload-object="file", upload-key="content" accepted-types="mimeTypes" disabled="isUploading"></uploader>
      <div layout="row" layout-sm="column" layout-align="space-around" ng-if="isUploading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <input type="submit" value="{{'common.validate' | translate}}" class="md-button" ng-disabled="file.content.name === undefined || isUploading" />
      <md-button ng-click="close()">{{'common.close' | translate}}</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>