<div ng-if="rights.length">

</div>
<div ng-if="!rights.length">
  Pas de résultats à afficher
</div>

<md-fab-speed-dial md-direction="up" class="md-fling">
  <md-fab-trigger>
    <md-button aria-label="Add..."><md-icon>add</md-icon></md-button>
  </md-fab-trigger>

  <md-fab-actions>
    <md-button aria-label="Add User">
      <md-icon>builds</md-icon>
    </md-button>

    <md-button aria-label="Add Group">
      <md-icon>cached</md-icon>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>