<md-content layout="row" flex>
  <div flex-gt-sm="25" show-gt-sm></div>
  <div flex-gt-sm="50" flex-sm="100" flex-xs="100" ng-switch="vm.state">
    <div ng-switch-when="loading" layout="column" layout-align="center center" class="full-height wrap">
      <md-progress-circular diameter="70"></md-progress-circular>
    </div>
    <div ng-switch-when="loaded" class="md-padding">
      <h1 translate class="main-title md-display-1">accounts.edit.title</h1>
      <form name="vm.profileEditionForm" ng-submit="vm.submit()" class="md-padding">
      <md-input-container class="md-block">
        <label for="usernameInput" translate>accounts.create.labels.username</label>
        <input id="usernameInput" type="text" class="md-input" name="username" ng-model="vm.account.username" required minlength="6" />
        <div ng-messages="vm.profileEditionForm.username.$error">
          <div ng-message="required" translate>accounts.edit.errors.username.blank</div>
          <div ng-message="minlength" translate>accounts.edit.errors.username.short</div>
          <div ng-message="uniq" translate>accounts.edit.errors.username.uniq</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="emailInput" translate>accounts.create.labels.email</label>
        <input type="text" id="emailInput" name="email" class="form-control" ng-model="vm.account.email" required ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/" />
        <div ng-messages="vm.profileEditionForm.email.$error" multiple">
          <div ng-message="required" translate>accounts.edit.errors.email.blank</div>
          <div ng-message="pattern" translate>accounts.edit.errors.email.format</div>
          <div ng-message="uniq" translate>accounts.edit.errors.email.uniq</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="passwordInput" translate>accounts.create.labels.password</label>
        <input type="password" id="passwordInput" name="password" class="md-input" ng-model="vm.account.password" ng-required="vm.account.password_confirmation != undefined && vm.account.password_confirmation != ''" />
        <div ng-messages="vm.profileEditionForm.password.$error">
          <div ng-message="required" translate>accounts.edit.errors.password.blank</div>
          <div ng-message="confirmation" translate>accounts.edit.errors.password.confirmation</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="passwordConfirmInput" translate>accounts.create.labels.password_confirmation</label>
        <input type="password" id="passwordConfirmInput" name="password_confirmation" class="md-input" ng-model="vm.account.password_confirmation" />
        <div ng-messages="vm.profileEditionForm.password_confirmation.$error">
          <div ng-message="required" translate>accounts.edit.errors.password_confirmation.blank</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label for="lastnameInput" translate>accounts.create.labels.lastname</label>
        <input type="test" id="lastnameInput" class="md-input" name="lastname" ng-model="vm.account.lastname" />
      </md-input-container>
      <md-input-container class="md-block">
        <label for="firstnameInput" translate>accounts.create.labels.firstname</label>
        <input type="test" id="firstnameInput" class="md-input" name="firstname" ng-model="vm.account.firstname" />
      </md-input-container>
      <div layout="row" layout-align="center stretch">
        <div flex="50">
          <md-input-container class="md-block">
            <label for="languageInput">{{'accounts.create.labels.language' | translate}}</label>
            <md-select ng-model="vm.account.language" name="language" id="languageInput">
              <md-option value="en_GB">{{'common.languages.english' | translate}}</md-option>
              <md-option value="fr_FR">{{'common.languages.french' | translate}}</md-option>
            </md-select>
          </md-input-container>
        </div>
        <div flex="50">
          <md-input-container class="md-block">
            <label for="genderInput">{{'accounts.create.labels.gender' | translate}}</label>
            <md-select ng-model="vm.account.gender" name="gender" id="genderInput">
              <md-option value="female">{{'accounts.create.options.female' | translate}}</md-option>
              <md-option value="male">{{'accounts.create.options.male' | translate}}</md-option>
              <md-option value="neutral">{{'accounts.create.options.neutral' | translate}}</md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>
      <input type="submit" translate translate-attr-value="accounts.edit.buttons.submit" class="md-button md-raised" />
      </form>
    </div>
    <div ng-switch-when="error" layout="row" layout-align="center center" class="text-centered full-height wrap">
      <div flex="70">{{'accounts.edit.errors.server' | translate}}</div>
    </div>
  </div>
  <div flex-gt-sm="25" show-gt-sm></div>
</md-content>