@import 'components/links';

.container.centered {
  margin: 0 auto;
}

.campaigns-edit-modal {
  width: 800px;
}

.campaign-description {
  height: 100px !important;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.main-title {
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.md-title-container {
  margin-bottom: 0px !important;
}

.campaign-tags {
  .md-chips {
    box-shadow: none !important;
  }
}

.md-fab {
  position: fixed !important;
}