@import 'campaigns/chatroom';
@import 'components/countdown';
@import 'components/links';
@import 'components/requests_count';
@import 'components/typo';
@import 'lib/material-icons';
@import 'partials/hints';

.clear {
  clear: both;
}

.text-right {
  text-align: right;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container.centered {
  margin: 0 auto;
}

.no-padding-top {
  padding-top: 0px !important;
}

.campaigns-edit-modal {
  width: 800px;
}

.campaign-description {
  height: 100px !important;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.main-title {
  padding-left: 10px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.md-title-container {
  margin-bottom: 0px !important;
}

.campaign-tags {
  .md-chips {
    box-shadow: none !important;
  }
}

.md-fab {
  position: fixed !important;
}

.wrap {
  overflow: hidden;
}

.without-margin {
  margin: 0px !important;
}

.campaign-checkbox {
  margin-bottom: 8px;
  margin-top: 16px;
}

.layout-container {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

ui-view, .full-size {
  display: block;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}

ui-view, .full-size {
  display: block;
  height: 100%;
  width: 100%;
  &.flex-view {
    display: flex !important;
  }
}

body > ui-view {
  overflow-y: auto;
}

md-sidenav.sidenav-chatroom {
  min-width: 25%;
}

.main-content-container {
  overflow: hidden;
  max-height: calc(100% - 64px);
  height: calc(100% - 64px);
}

.playground {
  padding: 10px;
}

.hidden {
  display: none !important;
}

.uploader-wrapper {
  .uploader-filename-wrapper {
    line-height: 48px;
    padding-right: 15px;
  }
}

.file-upload-modal {
  min-width: 25%;
}

.panel-selection-input {
  margin: 5px !important;
}

ui-view:not(.custom-ui-view) {
  height: 100%;
  width: 100%;
}

.md-chatroom-header {
  padding: 7px;
}

.text-centered {
  text-align: center;
}

.image-container {
  max-width: 100%;
  height: 100%;
  box-sizing: border-box;
  object-fit: scale-down;
}

.md-big-icon {
  font-size: 112px;
  height: 112px;
  width: 112px;
}

.tab-placeholder-wrapper {
  /* This height is here to align this error with the one in the search page. */
  height: calc(50% + 56px);
}

.panel-placeholder-wrapper {
  height: calc(50% + 88px);
}

.file-loader-wrapper {
  width: 50%;
}

.dashboard-carousel {
  position: relative;
  .carousel-text-wrapper {
    z-index: 10;
    position: absolute;
    top: 50px;
    left: 50px;
    opacity: 0.85;
    border-radius: 30px;
    h1 {
      margin: 10px 20px;
    }
  }
  .owl-nav {
    z-index: 1;
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    width: 100%;
    button {
      display: block;
      position: absolute;
      text-decoration: none;
      &.owl-prev {
        left: 10px;
      }
      &.owl-next {
        right: 10px;
      }
      span {
        font-size: 50px;
        line-height: 50px;
        display: inline-block;
        height: 50px;
      }
    }
  }
}