<h1>
  <span translate>groups.list.title</span>&nbsp;
  <a class="btn btn-light text-dark" role="button" data-toggle="collapse" data-target="#collapseCreateGroup" aria-expanded="false" aria-controls="collapseCreateGroup">
    <i class="fa fa-plus"></i>&nbsp;
    <span translate>groups.buttons.create</span>
  </a>
</h1>

<update-left-panel collection="vm.categories" loop-key="rights"></update-left-panel>
<update-left-panel collection="vm.services" loop-key="routes"></update-left-panel>

<div class="collapse mt-2 mb-2" id="collapseCreateGroup">
  <form class="form-inline" ng-submit="vm.createGroup()">
    <div class="input-group">
      <input type="text" class="form-control" ng-model="vm.group.slug" required translate translate-attr-placeholder="groups.create.placeholders.slug" />
    </div>
    <input type="submit" class="btn btn-primary ml-2" translate translate-attr-value="groups.buttons.validate" />
  </form>
</div>

<div ng-if="vm.groups.length">
  <table class="table table-hover">
    <thead>
      <tr>
        <th translate>groups.list.headers.id</th>
        <th translate>groups.list.headers.rights</th>
        <th translate>groups.list.headers.routes</th>
        <th translate>common.actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="group in vm.groups">
        <td><span class="text-muted">{{group.id}}</span>&nbsp;-&nbsp;{{group.slug}}</td>
        <td>{{group.rights}}</td>
        <td>{{group.routes}}</td>
        <td>
          <a ng-click="vm.editElements('routes', group)"><i class="fa fa-road"></i></a>&nbsp;
          <a ng-click="vm.editElements('rights', group)"><i class="fa fa-lock"></i></a>&nbsp;
          <a ng-click="vm.deleteGroup(group.id)"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div ng-if="!vm.groups.length" translate>groups.list.unavailable</div>