<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <form ng-submit="vm.authenticate()">
        <div class="form-group">
          <label for="username">Nom d'utilisateur</label>
          <input type="text" class="form-control" name="username" ng-model="vm.username" required placeholder="Entrez un pseudonyme" />
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" class="form-control" name="password" ng-model="vm.password" required placeholder="Entrez un mot de passe" />
        </div>
        <input class="btn" type="submit" value="Valider" />
      </form>
    </div>
  </div>
</div>