<md-content class="full-size">
  <div class="full-size flex-view wrap" layout="column" layout-align="center stretch">
    <div flex class="playground-container scrollable playground">
      <h3>Interface en construction</h3>
    </div>
    <md-toolbar>
      <md-fab-actions class="md-toolbar-tools">
        <md-button aria-label="messages" class="md-icon-button" ng-click="vm.openChatroom()">
          <md-icon>message</md-icon>
        </md-button>
        <upload-button campaign="vm.campaign" ng-if="vm.isCreator()"></upload-button>
      </md-fab-actions>
    </md-toolbar>
  </div>

  <md-sidenav md-component-id="chat-sidenav" class="md-sidenav-right sidenav-chatroom wrap" layout="column" layout-align="center stretch" md-disable-backdrop md-whiteframe="4">
    <div class="md-chatroom-header" layout="row" layout-align="end center">
      <a ng-click="vm.closeChatroom()"><i class="fa fa-times"></i></a>
    </div>
    <md-content flex="grow" class="md-chatroom-content">
      <div ng-repeat="message in vm.campaign.messages track by $index" class="message-wrapper">
        <div ng-if="message.type == 'command' && message.data.command == 'roll'" class="message-container command" md-colors="{'background': 'green-200'}">
          <div layout="row">
            <div flex="grow" class="md-body-2 md-chatroom-username">{{message.username}}</div>
            <div flex="none" class="md-caption">{{message.created_at | date:'HH:mm'}}</div>
          </div>
          <div>
            {{message.data.results.join(' + ')}} <span ng-if="message.data.modifier > 0">+ {{message.data.modifier}} </span>= {{vm.getTotal(message)}}
          </div>
        </div>
        <div ng-if="message.type == 'text' && message.username === vm.username" class="message-container self" md-colors="{'background': 'grey-300'}">
          <div layout="row">
            <div flex="grow" class="md-body-2 md-chatroom-username">{{message.username}}</div>
            <div flex="none" class="md-caption">{{message.created_at | date:'HH:mm'}}</div>
          </div>
          <div >{{message.data.content}}</div>
        </div>
        <div ng-if="message.type == 'text' && message.username !== vm.username" class="message-container other" md-colors="{'background': 'blue-100'}">
          <div layout="row">
            <div flex="grow" class="md-body-2 md-chatroom-username">{{message.username}}</div>
            <div flex="none" class="md-caption">{{message.created_at | date:'HH:mm'}}</div>
          </div>
          <div >{{message.data.content}}</div>
        </div>
      </div>
    </md-content>
    <form name="vm.sendMessageForm" ng-submit="vm.sendMessage()" class="md-chatroom-form without-margin" flex="none">
      <md-input-container class="md-block without-margin">
        <label for="message">Message</label>
        <input type="text" id="message" name="message" ng-model="vm.message" autocomplete="off" />
        <div ng-messages="vm.sendMessageForm.message.$error">
          <div ng-message="content" translate>campaigns.messages.errors.content</div>
          <div ng-message="command" translate>campaigns.messages.errors.command</div>
        </div>
      </md-input-container>
    </form>
  </md-sidenav>
</md-content>