<h1>Informations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Clé</th>
      <th>Valeur</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ID</td>
      <td>{{vm.service.id}}</td>
    </tr>
    <tr>
      <td>Path</td>
      <td>{{vm.service.path}}</td>
    </tr>
    <tr>
      <td>Clé</td>
      <td>{{vm.service.key}}</td>
    </tr>
    <tr>
      <td>Active</td>
      <td>
        <div class="text-success" ng-if="vm.service.active">Oui</div>
        <div class="text-danger" ng-if="!vm.service.active">Non</div>
      </td>
    </tr>
  </tbody>
</table>

<div ng-if="vm.service.routes.length > 0">
  <h1>Routes</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Verbe</th>
        <th>Chemin</th>
        <th>Authenticated</th>
        <th>premium</th>
        <th>active</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="route in vm.service.routes">
        <td>{{route.verb}}</td>
        <td>{{route.path}}</td>
        <td>
          <div class="text-success" ng-if="route.authenticated">Oui</div>
          <div class="text-warning" ng-if="!route.authenticated">Non</div>
        </td>
        <td>
          <div class="text-success" ng-if="route.premium">Oui</div>
          <div class="text-danger" ng-if="!route.premium">Non</div>
        </td>
        <td>
          <div class="text-success" ng-if="route.active">Oui</div>
          <div class="text-danger" ng-if="!route.active">Non</div>
        </td>
        <td>
          <a class="text-dark" ng-click="vm.service.toggleRouteFlag(route, 'authenticated')">
            <i ng-class="{fa: true, 'fa-unlock': route.authenticated, 'fa-lock': !route.authenticated}"></i>
          </a>
          &nbsp;
          <a class="text-dark" ng-click="vm.service.toggleRouteFlag(route, 'premium')">
            <i ng-class="{fa: true, 'fa-arrow-down': route.premium, 'fa-arrow-up': !route.premium}"></i>
          </a>
          &nbsp;
          <a
            ng-click="vm.service.toggleRouteFlag(route, 'active')"
            ng-class="{'text-success': !route.active, 'text-danger': route.active}"
            data-toggle="tooltip"
            data-placement="bottom"
            title="{{route.active ? 'Deactivate' : 'Activate'}}"
          >
            <i class="fa fa-toggle-off"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div ng-id="vm.service.instances.length > 0">
  <h1>Instances</h1>
  <table class="table">
    <thead>
      <tr>
        <th>URL</th>
        <th>running</th>
        <th>active</th>
        <th>type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="instance in vm.service.instances">
        <td>{{instance.url}}</td>
        <td>{{instance.running}}</td>
        <td>
          <div class="text-success" ng-if="instance.active">Oui</div>
          <div class="text-danger" ng-if="!instance.active">Non</div>
        </td>
        <td>{{instance.type}}</td>
        <td>
          <a ng-click="vm.service.reboot(instance)">
            <i class="fa fa-power-off"></i>
          </a>
          &nbsp;
          <a
            ng-click="vm.service.toggleInstanceFlag(instance, 'active')"
            ng-class="{'text-success': !instance.active, 'text-danger': instance.active}"
            data-toggle="tooltip"
            data-placement="bottom"
            title="{{instance.active ? 'Deactivate' : 'Activate'}}"
          >
            <i class="fa fa-toggle-off"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>