<h1 translate>services.edit.titles.informations</h1>

<table class="table">
  <thead>
    <tr>
      <th translate>common.key</th>
      <th translate>common.value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td translate>services.edit.headers.id</td>
      <td>{{vm.service.id}}</td>
    </tr>
    <tr>
      <td translate>services.edit.headers.path</td>
      <td>{{vm.service.path}}</td>
    </tr>
    <tr>
      <td translate>services.edit.headers.key</td>
      <td>{{vm.service.key}}</td>
    </tr>
    <tr>
      <td translate>common.active.f</td>
      <td>
        <div class="text-success" ng-if="vm.service.active" translate>common.yes</div>
        <div class="text-danger" ng-if="!vm.service.active" translate>common.no</div>
      </td>
    </tr>
  </tbody>
</table>

<div ng-if="vm.service.routes.length > 0">
  <h1 translate>services.edit.titles.routes</h1>
  <table class="table">
    <thead>
      <tr>
        <th translate>services.edit.headers.verb</th>
        <th translate>services.edit.headers.path</th>
        <th translate>services.edit.headers.authenticated</th>
        <th translate>services.edit.headers.premium</th>
        <th translate>common.active.f</th>
        <th translate>common.actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="route in vm.service.routes">
        <td>{{route.verb}}</td>
        <td>{{route.path}}</td>
        <td>
          <div class="text-success" ng-if="route.authenticated" translate>common.yes</div>
          <div class="text-warning" ng-if="!route.authenticated" translate>common.no</div>
        </td>
        <td>
          <div class="text-success" ng-if="route.premium" translate>common.yes</div>
          <div class="text-danger" ng-if="!route.premium" translate>common.no</div>
        </td>
        <td>
          <div class="text-success" ng-if="route.active" translate>common.yes</div>
          <div class="text-danger" ng-if="!route.active" translate>common.no</div>
        </td>
        <td>
          <a class="text-dark" ng-click="vm.service.toggleRouteFlag(route, 'authenticated')">
            <i ng-class="{fa: true, 'fa-unlock': route.authenticated, 'fa-lock': !route.authenticated}"></i>
          </a>
          &nbsp;
          <a class="text-dark" ng-click="vm.service.toggleRouteFlag(route, 'premium')">
            <i ng-class="{fa: true, 'fa-arrow-down': route.premium, 'fa-arrow-up': !route.premium}"></i>
          </a>
          &nbsp;
          <a
            ng-click="vm.service.toggleRouteFlag(route, 'active')"
            ng-class="{'text-success': !route.active, 'text-danger': route.active}"
            data-toggle="tooltip"
            data-placement="bottom"
            title="{{'services.tooltips.' + (route.active ? 'deactivate' : 'activate') | translate}}"
          >
            <i class="fa fa-toggle-off"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div ng-id="vm.service.instances.length > 0">
  <h1 translate>services.edit.titles.instances</h1>
  <table class="table">
    <thead>
      <tr>
        <th translate>services.edit.headers.url</th>
        <th translate>services.edit.headers.running</th>
        <th translate>common.active.f</th>
        <th translate>services.edit.headers.type</th>
        <th translate>common.actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="instance in vm.service.instances">
        <td>{{instance.url}}</td>
        <td>{{instance.running}}</td>
        <td>
          <div class="text-success" ng-if="instance.active" translate>common.yes</div>
          <div class="text-danger" ng-if="!instance.active" translate>common.no</div>
        </td>
        <td>{{instance.type}}</td>
        <td>
          <a
            ng-click="vm.service.toggleInstanceFlag(instance, 'active')"
            ng-class="{'text-success': !instance.active, 'text-danger': instance.active}"
            data-toggle="tooltip"
            data-placement="bottom"
            title="{{'services.tooltips.' + (instance.active ? 'deactivate' : 'activate') | translate}}"
          >
            <i class="fa fa-toggle-off"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>