<campaigns-create public></campaigns-create>

<div class="md-padding" ng-if="vm.displayedCampaigns.length <= 0" flex layout="column" layout-align="center center">
  <div><md-icon class="md-big-icon" md-colors="{color: 'grey-300'}">view_module</md-icon></div>
  <p class="md-title" md-colors="{color: 'grey-400'}">{{'campaigns.index.placeholders.search' | translate}}</p>
</div>

<div class="md-padding" layout="row" layout-xs="column">

  <campaign-card flex-gt-sm="25" flex-xs="auto" ng-repeat="campaign in vm.displayedCampaigns = (vm.campaigns.items | publicCampaigns)" campaign="campaign">
    <md-button ng-click="vm.deleteInvitation(campaign.invitation)" ng-if="campaign.invitation && campaign.invitation.status == 'request'" class="md-icon-button">
      <md-tooltip md-direction="top" ng-if="campaign.invitation" hide-xs>{{'campaigns.index.tooltips.cancel' | translate}}</md-tooltip>
      <md-icon>cancel</md-icon>
    </md-button>
    <md-button ng-click="vm.request(campaign)" ng-if="!campaign.invitation || campaign.invitation.status != 'request'" class="md-icon-button">
      <md-tooltip md-direction="top" ng-if="!campaign.invitation" hide-xs>{{'campaigns.index.tooltips.join' | translate}}</md-tooltip>
      <md-icon>group_add</md-icon>
    </md-button>
  </campaign-card>
</div>