<campaigns-create></campaigns-create>
<md-tabs md-dynamic-height>
  <md-tab>
    <md-tab-label>Mes création</md-tab-label>
    <md-tab-body>
      <h1 translate class="main-title md-display-2">campaigns.index.title</h1>
      <div class="md-padding" layout="row" layout-xs="column">
        <md-card flex-gt-sm="25" flex-xs="auto" ng-repeat="campaign in vm.campaigns.own">
          <md-card-title flex="nogrow">
            <md-card-title-text>
              <span class="md-headline">{{campaign.title}}</span>
              <span class="md-subhead" ng-if="campaign.is_private" translate>common.private.f</span>
              <span class="md-subhead" ng-if="!campaign.is_private" translate>common.public.f</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content flex="noshrink">
            <div>{{campaign.description}}</div>
            <md-chips class="campaign-tags" ng-if="campaign.tags.length > 0" ng-model="campaign.tags" readonly="true"></md-chips>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" ui-sref="campaigns.edit({id: campaign.id})">
              <md-icon>mode_edit</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.deleteCampaign(campaign.id)">
              <md-icon>delete</md-icon>
            </md-button>
          </md-card-actions>
        </md-card>
      </div>
    </md-tab-body>
  </md-tab>

  <md-tab>
    <md-tab-label>Mes participations</md-tab-label>
    <md-tab-body>
      <h1 translate class="main-title md-display-1">En attente</h1>
      <div class="md-padding" layout="row" layout-xs="column">
        <md-card flex-gt-sm="25" flex-xs="auto" ng-repeat="invitation in vm.invitations.pending.items">
          <md-card-title flex="nogrow">
            <md-card-title-text>
              <span class="md-headline">{{invitation.campaign.title}}</span>
              <span class="md-subhead" ng-if="invitation.campaign.is_private" translate>common.private.f</span>
              <span class="md-subhead" ng-if="!invitation.campaign.is_private" translate>common.public.f</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content flex="noshrink">
            <div>{{invitation.campaign.description}}</div>
            <md-chips class="campaign-tags" ng-if="invitation.campaign.tags.length > 0" ng-model="invitation.campaign.tags" readonly="true"></md-chips>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" ui-sref="campaigns.edit({id: invitation.campaign.id})">
              <md-icon>mode_edit</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.deleteCampaign(invitation.campaign.id)">
              <md-icon>delete</md-icon>
            </md-button>
          </md-card-actions>
        </md-card>
      </div>

      <h1 translate class="main-title md-display-1">Acceptées</h1>
      <div class="md-padding" layout="row" layout-xs="column">
        <div class="md-padding" layout="row" layout-xs="column">
          <md-card flex-gt-sm="25" flex-xs="auto" ng-repeat="invitation in vm.invitations.accepted.items">
            <md-card-title flex="nogrow">
              <md-card-title-text>
                <span class="md-headline">{{invitation.campaign.title}}</span>
                <span class="md-subhead" ng-if="invitation.campaign.is_private" translate>common.private.f</span>
                <span class="md-subhead" ng-if="!invitation.campaign.is_private" translate>common.public.f</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content flex="noshrink">
              <div>{{invitation.campaign.description}}</div>
              <md-chips class="campaign-tags" ng-if="invitation.campaign.tags.length > 0" ng-model="invitation.campaign.tags" readonly="true"></md-chips>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-icon-button" ui-sref="campaigns.edit({id: invitation.campaign.id})">
                <md-icon>mode_edit</md-icon>
              </md-button>
              <md-button class="md-icon-button" ng-click="vm.deleteCampaign(invitation.campaign.id)">
                <md-icon>delete</md-icon>
              </md-button>
            </md-card-actions>
          </md-card>
      </div>
    </md-tab-body>
  </md-tab>
  <!-- First tab containg the informations about the campaign (title, description, etc.) -->
  <md-tab>
    <md-tab-label>Campagnes publiques</md-tab-label>
    <md-tab-body>
      <h1 translate class="main-title md-display-2">campaigns.index.title</h1>
      <div class="md-padding" layout="row" layout-xs="column">
        <md-card flex-gt-sm="25" flex-xs="auto" ng-repeat="campaign in vm.campaigns.public">
          <md-card-title flex="nogrow">
            <md-card-title-text>
              <span class="md-headline">{{campaign.title}}</span>
              <span class="md-subhead" ng-if="campaign.is_private" translate>common.private.f</span>
              <span class="md-subhead" ng-if="!campaign.is_private" translate>common.public.f</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content flex="noshrink">
            <div>{{campaign.description}}</div>
            <md-chips class="campaign-tags" ng-if="campaign.tags.length > 0" ng-model="campaign.tags" readonly="true"></md-chips>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" ui-sref="campaigns.edit({id: campaign.id})">
              <md-icon>mode_edit</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="vm.deleteCampaign(campaign.id)">
              <md-icon>delete</md-icon>
            </md-button>
          </md-card-actions>
        </md-card>
      </div>
    </md-tab-body>
  </md-tab>
</md-tabs>
</div>