<md-list>
  <md-list-item ng-repeat="invitation in (vm.collection | filter:{status:vm.status})" class="md-2-line">
    <md-icon class="md-avatar-icon">face</md-icon>
    <div class="md-list-item-text" layout="column">
      <h3>{{invitation.username}}</h3>
      <p>{{'campaigns.invitations.labels.created_by' | translate}} : {{invitation.creator}}</p>
      <md-icon ng-if="vm.status == 'accepted'" class="md-secondary md-icon-button" ng-click="vm.expel(invitation)">close</md-icon>
    </div>
  </md-list-item>
</md-list>