<md-toolbar>
  <div class="md-toolbar-tools" ng-if="vm.authenticated">
    <md-button ui-sref="rightsList">{{'components.main_menu.items.rights' | translate}}</md-button>
    <span flex></span>
    <span>
      <md-button ng-click="vm.logout()">{{'components.main_menu.items.logout' | translate}}</md-button>
    </span>
  </div>
  <div class="md-toolbar-tools" ng-if="!vm.authenticated">
    <span flex></span>
    <span>
      <md-button ui-sref="sessionsCreate">{{'components.main_menu.items.login' | translate}}</md-button>
      <md-button ui-sref="accountsCreate">{{'components.main_menu.items.register' | translate}}</md-button>
    </span>
  </div>
</md-toolbar>