<md-dialog class="campaigns-edit-modal">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Création d'une campagne</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-content class="md-padding">
      <form ng-submit="vm.createCampaign()">
        <!-- Input for the title of the campaign. -->
        <md-input-container class="container">
          <label>Titre</label>
          <input type="text" ng-model="title" />
        </md-input-container>
        <!-- Switch to make the campaign private (TRUE) or public (FALSE) -->
        <md-switch ng-model="vm.isActive">Privée</md-switch>
        <md-input-container class="container">
          <label>Description</label>
          <textarea ng-model="vm.description"></textarea>
        </md-input-container>
      </form>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button>Valider</md-button>
    <md-button>Annuler</md-button>
  </md-dialog-actions>
</md-dialog>